In [1]:
'''Importación de librerías necesarias para la elaboración del modelo de Árbol de Decisión'''
import pandas as pd
import seaborn as sn
import pydotplus
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
from sklearn.tree import export_graphviz
from six import StringIO 
from IPython.display import Image  
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [3]:
'''Carga y visualización del dataset que se va a utilizar'''
df=pd.read_csv('Dataset of Diabetes .csv')
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [4]:
'''Verificamos todos los valores que tiene la columna CLASS para poder reemplazar por valores numéricos'''
df['CLASS'].unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [5]:
'''Estandarizamos los valores de N y Y debido a que habían campos en los que estaban con espacios'''
df['CLASS'] = df['CLASS'].replace('N ','N')
df['CLASS'] = df['CLASS'].replace('Y ','Y')

In [6]:
'''Verificamos que tengamos los valores correctos'''
df['CLASS'].unique()

array(['N', 'P', 'Y'], dtype=object)

In [7]:
'''Verificamos todos los valores que tiene la columna Gender para poder reemplazar por valores numéricos'''
df['Gender'].unique()

array(['F', 'M', 'f'], dtype=object)

In [8]:
'''Estandarizamos los valores de F debido a que existen campos donde hay f minuscula'''
df['Gender'] = df['Gender'].replace('f','F')

In [9]:
'''Verificamos que tengamos los valores correctos'''
df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [10]:
''' Mapeamos los valores que están como caracteres a valores numéricos en las columnas CLASS y Gender'''
df['CLASS'] = df['CLASS'].map({'N':0,'P':1,'Y':2})
df['Gender'] = df['Gender'].map({'F':0,'M':1})

In [11]:
'''Verificamos que se hayan cambiado los valores a numéricos'''
print("Datos de la columna Gender: ",df['Gender'].unique())
print("Datos de la columna CLASS: ",df['CLASS'].unique())

Datos de la columna Gender:  [0 1]
Datos de la columna CLASS:  [0 1 2]